<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div th:each="produto : ${produtos}">
    	<span th:text="${produto.nomeProduto}"></span>
    	<span th:text="${produto.preco}"></span>
    	<span th:text="${produto.quantidade}"></span>
    	<span th:text="${produto.descricao}"></span>
    	<img th:src="${produto.urlImagem}" src="">
    </div>
</body>
</html>